{% set current_lang = request.environ.CKAN_LANG %}
{% set current_page = request.environ.CKAN_CURRENT_URL %}
{# % set categories = h.u54_theme_get_groups() % #}

<div class="categories container-fluid categories__row">
        <div class="container ">
            <div class="row ">

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/project_1">
                        <img src="/images/ui/project1.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">Project 1<br /> Colon Cancer</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/project_2">
                        <img src="/images/ui/project2.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-blue">Project 2<br /> Melanoma</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/project_3">
                        <img src="/images/ui/project3.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">Project 3<br /> Leukemia</span>
                    </a>
                </div> 
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/pilot-projects">
                        <img src="/images/ui/pilotprojects.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-blue">Pilot<br /> Projects</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/opportunity-awards">
                        <img src="/images/ui/opportunityawards.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">Opportunity<br /> Awards</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/group/outreach">
                        <img src="/images/ui/EDUCATION_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">Education<br /> Outreach</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
  
