{% set current_lang = request.environ.CKAN_LANG %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <a href="/" class="footer-brand"></a>
            </div>
            <div class="col-md-4 col-sm-4 footer-links">
                <a href="mailto:ccbs@uci.edu"  target="_blank">Contact</a>
                <a href="https://uci.edu/privacy/index.php"  target="_blank">Legal Notices</a>
                <a href="https://ckan.org" target="_blank">Open Source.</a>
            </div>
            <div class="col-md-3 col-sm-3 social-media-box">
                <a href="https://twitter.com/ccbs_uci" class="social-media-logo twitter-logo" target="_blank"></a>
                <a href="https://www.linkedin.com/company/center-for-complex-biological-systems" class="social-media-logo linkedin-logo" target="_blank"></a>
            </div>
            <div class="col-md-3 col-sm-5 footer-link">
                <a href="https://ccbs.uci.edu/">Created by UCI CCBS</a>
            </div>
        </div>
    </div>
</footer>
